@font-face {
  font-family: "iconfont"; /* Project id 3447028 */
  src: url('iconfont.woff2?t=1654595559826') format('woff2'),
       url('iconfont.woff?t=1654595559826') format('woff'),
       url('iconfont.ttf?t=1654595559826') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kaishi:before {
  content: "\e642";
}

.icon-bofangzhong:before {
  content: "\e617";
}

.icon-pinglun:before {
  content: "\e60f";
}

.icon-xiayigexiayishou:before {
  content: "\e7a5";
}

.icon-zanting:before {
  content: "\e618";
}

.icon-zanting1:before {
  content: "\e629";
}

.icon-xihuan:before {
  content: "\e86f";
}

.icon-buxihuan:before {
  content: "\e61f";
}

.icon-bendi:before {
  content: "\e63e";
}

.icon-wodehaoyou:before {
  content: "\e737";
}

.icon-yigou:before {
  content: "\e610";
}

.icon-shangchuanyunpan:before {
  content: "\e6b3";
}

.icon-hanhan-01-01:before {
  content: "\e680";
}

.icon-guanzi-copy:before {
  content: "\e738";
}

.icon-gedan:before {
  content: "\e60e";
}

.icon-meirituijian1:before {
  content: "\e60d";
}

.icon-icon_concern:before {
  content: "\e608";
}

.icon-wuzi:before {
  content: "\e6d6";
}

.icon-wangyiyunyinle:before {
  content: "\e600";
}

.icon-renshu:before {
  content: "\e611";
}

.icon-paihangbang:before {
  content: "\e67c";
}

.icon-yinfu:before {
  content: "\e604";
}

.icon-guangbodiantai:before {
  content: "\e625";
}

.icon-pic3:before {
  content: "\e601";
}

.icon-yinfu1:before {
  content: "\e61c";
}

.icon-quanbufenlei:before {
  content: "\e602";
}

.icon-wangyiyunyinyueclick:before {
  content: "\e603";
}

.icon-boke1-copy:before {
  content: "\e605";
}

.icon-boke1-copy1:before {
  content: "\e606";
}

.icon-home-full:before {
  content: "\e607";
}

.icon-xinge:before {
  content: "\e609";
}

.icon-faxian_gefang:before {
  content: "\e60a";
}

.icon-youshengshu:before {
  content: "\e60b";
}

.icon-sirenFM:before {
  content: "\e60c";
}

.icon-bofang:before {
  content: "\e613";
}

